# WCH-Link + CH32F103 (ARM SWD)
# Same as interface/wlink.cfg but force SWD instead of SDI (RISC-V).
adapter driver wlinke
adapter speed 6000
transport select swd
source [find target/stm32f1x.cfg]
